@use '../../styles/placeholder' as *;

.HeaderStyling{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    div{
        
        img{
            display: block;
            width: 100%;
        }
    }
}
.date{
    margin: 0;
    @extend %brush;
    font-size: 2rem;
}