@use "../../styles/variables" as *;

.navbarStyling {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    min-width: 550px;
    p {
      margin: 0;
      &:hover {
        cursor: n-resize;
        color: $color-red;
        letter-spacing: 2px;
        transition: 200ms;
      }
    }
    li {
      a {
        text-decoration: none;
        color: black;
      }
      &:hover a {
        color: $color-red;
        letter-spacing: 1px;
        transition: 200ms;
      }
    }
    svg {
      &:hover {
        color: $color-red;
        cursor: pointer;
        scale: 1.1;
        transition: transform 200ms;
      }
    }
  }
}

.events {
  position: relative;
  &:hover .dropDown {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    box-shadow: 0 0 16px #00000033;
    a {
      display: inline-block;
      color: $color-red;
      &:hover {
        letter-spacing: 0px;
      }
    }
  }
}

.dropDown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 1rem;
  z-index: 1;
  a {
    display: none;
  }
}
